{% extends "/base.html" %}
{% block title %}Learn!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
        <h1>All Flashcards</h1>

            <form action="/cards/add" method="post">
                Front: <input type="text" name="front"><br>
                Back: <input type="text" name="back"><br>
                <input type="submit" value="Submit">
            </form>

        <ul>            
            {% for card in cards %}
            <li>{{card.front}}</li>
            {% endfor %}
        </ul>
 {% endblock %}