{% extends "/base.html" %}
{% import "/macros/card.html" as card_macro %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
        <h1>Learn!</h1>       
        {{card.front}}
        <button onclick="showElement()">Show answer</button>
        <a href="/learn">Next question -></a>
        <section id="card_back" class="hidden">{{card.back}}</section>
        <div class="card-grid" onclick="document.getElementById('answer').classList.toggle('fadeIn')">
            <div class="card">            
                <div class="card-content">
                <div class="cardFront">{{card.front}}</div><div id="answer" class="cardBack card-answer fadeOut">{{card.back}}</div>
                </div>                         
            </div>
        </div>
 {% endblock %}